<div class="container">
  <form method="POST" action="/courses/store">
    <div class="form-group">
      <label for="name">name</label>
      <input
        type="text"
        name="name"
        class="form-control"
        id="name"
        aria-describedby="emailHelp"
      />
      <label for="description">description</label>
      <input
        type="text"
        name="description"
        class="form-control"
        id="description"
        aria-describedby="emailHelp"
      />
      <label for="videoId">videoId</label>
      <input
        type="text"
        name="videoId"
        class="form-control"
        id="videoId"
        aria-describedby="emailHelp"
      />
      <label for="level">level</label>
      <input
        type="text"
        name="level"
        class="form-control"
        id="level"
        aria-describedby="emailHelp"
      />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>