<div class="container">
  <form method="POST" action="/courses/store">
    <div class="form-group">
      <label for="name">name</label>
      <input type="text" class="form-control" name="name" id="name" />
      <label for="description">description</label>
      <input
        type="text"
        class="form-control"
        name="description"
        id="description"
      />
      <label for="videoId">videoId</label>
      <input type="text" class="form-control" name="videoId" id="videoId" />
      <label for="level">level</label>
      <input type="text" class="form-control" name="level" id="level" />
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>