<div class="container mt-5">
  <form method="POST" action="/courses/store">
    <div class="mb-3">
      <label for="Name" class="form-label">Name</label>
      <input type="text" name="name" class="form-control" id="Name" />

      <label for="description" class="form-label">description</label>
      <input
        type="text"
        name="description"
        class="form-control"
        id="description"
      />

      <label for="videoId" class="form-label">videoId</label>
      <input type="text" name="videoId" class="form-control" id="videoId" />

      <label for="level" class="form-label">level</label>
      <input type="text" name="level" class="form-control" id="level" />
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>