<div class="row">
  <div class="col-lg-9">
    <iframe
      width="1425"
      height="700"
      src="https://www.youtube.com/embed/{{course.videoId}}"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    ></iframe>
    <h3>
      {{course.name}}
    </h3>
    <div class="col-lg-3">
      <h1>video Sub</h1>
    </div>
  </div>
</div>