<div class="container mt-5">
        <form method="POST" action="/musics/store">
            <div class="form-group">
                <label for="title">title</label>
                <input type="text" class="form-control" name="title" id="title" placeholder="title...">
                <label for="description">description</label>
                <input type="text" class="form-control" name="description" id="description" placeholder="description...">
                <label for="videoId">videoId</label>
                <input type="text" class="form-control" name="videoId" id="videoId" placeholder="videoId...">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
</div>