<div class="row mt-5 ml-3" >
    <div class="col-lg-9">
        <iframe width="1425" class="mb-5" height="700" src="https://www.youtube.com/embed/{{music.videoId}}?si=Z3oeNitHlx-OFhdx" title="YouTube video player" frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
            ></iframe>
        <h2>
            {{music.title}}
        </h2>
        <span>
            {{music.description}}
        </span>
    </div>
    <div class="col-lg-3"></div>
</div>