<div class="mt-4">
  <form method="GET" action="new">
    <div class="form-group">
      <label for="search__input">nhap tu khoa</label>
      <input
        type="text"
        class="form-control"
        id="search__input"
        name="q"
        aria-describedby="emailHelp"
        placeholder="nhap tu khoa ........"
      />

    </div>

    <button type="submit" class="btn btn-primary">tim kiem</button>
  </form>
</div>